<!DOCTYPE html>
<html>
  <head>
    <title>Application Submitted</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include "nav.html" %}
    {% include 'banner.html' %}

    <div class="container"> 
      <h1 class="text-center mt-2 mb-4"> 
        Grisha 
      </h1> 

      <p>Your application for the role of <b>{{job['title']}}</b> at Grisha has been submitted.</p>
      
      <b>Full Name</b>
      <div class="mb-4">{{application["full_name"][0]}}</div>

      <b>Email</b>
      <div class="mb-4">{{application["email"][0]}}</div>

      <b>LinkedIn URL</b>
      <div class="mb-4">{{application["linkedin_url"][0]}}</div>

      <b>Education</b>
      <div class="mb-4">{{application["education"][0]}}</div>

      <b>Work Experience</b>
      <div>{{application["work_experience"][0]}}</div>

      <b>Resume URL</b>
      <div class="mb-4">{{application["resume_url"][0]}}</div>
    </div>
    {% include "footer.html" %}
    <h1>data={{data}}</h1>
  </body>
</html>


