<body>
	<div class="dropdown" >
	  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		change status
	  </button>
	  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
		<li><a class="dropdown-item" href="/{{table[i-1]['full_name']}}/{{table[i-1]['email']}}/{{table[i-1]['title']}}/reject">reject</a></li>
		<li><a class="dropdown-item" href="/{{table[i-1]['full_name']}}/{{table[i-1]['email']}}/{{table[i-1]['title']}}/accept">accept</a></li>
    <li><a class="dropdown-item" href="/{{table[i-1]['full_name']}}/{{table[i-1]['email']}}/{{table[i-1]['title']}}/not viewed">not viewed</a></li>
	  </ul>
	</div>
</body>



