<!DOCTYPE html>
<html>
  <head>
    <title>Login Submitted</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include "nav.html" %}
    {% include 'banner.html' %}

    <div class="container"> 
      <h1 class="text-center mt-2 mb-4"> Congratulates!</h1> 

      <h1><p>Your entered is secseccfull done.</p></h1>
      <h3>data={{a}} </h3>
      
     <div class="col-2 padding-right:16px">
        <a href="/user" 
        type="button" class="btn btn-outline-primary float-right align-middle"> CONTINUE</a>
      </div> 

      
    </div>
    {% include "footer.html" %}
  </body>
</html>
