<!DOCTYPE html>
<html>
  <head>
    <title> {{a['full_name']}} login </title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include "nav.html" %}
    <div>
          <style>
            #enter{
            height:495px;
            width:100%;
            object-fit:cover;
            margin-bottom:16px; }
          </style>
          <img class="img-fluid" id="enter" src="/static/enter.jpg" alt="enter"> 
        </div>
  <div class="container"> 
    <h4 class="text-center mt-2 mb-4">Hello,{{name}}!  Your entered is secseccfull done.</h4>
    <h4 class="text-center mt-2 mb-4">Please click <b>"continue"</b> to proceed.</h4>  
    <div class="text-center mt-2 mb-4" >
      <a href="/{{name}}/{{mail}}" type="button" class="btn btn-secondary float-right align-  middle"> CONTINUE</a>
    </div>  
  </div>
    {% include "footer.html" %}
  </body>
</html>