<!DOCTYPE html>
<html>
  <head>
    <title>Register Submitted</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include "nav.html" %}
    {% include 'banner.html' %}
    <div class="container"> 
      <h2 class="text-center mt-2 mb-4">
        {{new_name}},your registration is secseccfull done.</h2>
      <h4 class="text-center mt-2 mb-4">Please click <b>"continue"</b> to proceed.</h4>  
    <div class="text-center mt-2 mb-4" >
      <a href="/login" type="button" class="btn btn-secondary float-right align-  middle"> CONTINUE</a>
    </div>  
    </div>
    {% include "footer.html" %}
  </body>
</html>

 