<!DOCTYPE html>
<html>
  <head>
    <title> Login page</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include "nav.html" %}
    <div class="d-flex justify-content-center align-items-center mb-3 mt-3"    style="background-image: url('/static/bg2.jpg');height: 680px;">
      <div >
        <h2 class="text-center mt-2 mb-4">You are already registered.Just log into your personal account.</h2>
        <div class="text-center mt-2 mb-4">
          <a href="/login" type ="button" class="btn btn-dark btn-middele align-middle ">GO FOR LOGIN</a>
        </div>
        <h2 class="text-center mt-2 mb-4">Go to home page.</h2>
        <div class="text-center mt-2 mb-4">
          <a href="/" type ="button" class="btn btn-dark btn-middele align-middle ">GO TO HOME</a>
        </div>  
      </div>
    </div> 
    {% include "footer.html" %}
  </body>
</html>



