<!DOCTYPE html>
<html>
  <head>
    <title>Grisha Careers</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include "nav.html" %}
    <style>
      #b2{
      height:290px;
      width:100%;
      object-fit:cover;
      margin-bottom:16px;
        }
    </style>
    <img class="img-fluid" id="b2" src="/static/b2.jpg" alt="b2" >
    
    <div class="container"> 
      <h1 class="text-center mt-2 mb-4"> 
        Grisha Careers
      </h1>
      <div class="row" style="margin-bottom:16px">
        <div class="col-md-6">
          <p class="lead"> 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      <div class="d-none d-md-block col-md-6">
          <div>
            <img class="img-fluid" src="/static/b1.jpg" alt="b1"
            style="height:240px; border-radius:4px;object-fit:cover;width:100%;">
          </div>  
        </div>
      </div>  
      <h2 class="text-center mt-2 mb-4">Job Openings</h2>
      <p>
        {% for job in jobs %}
          {% include "jobitem.html" %}
        {% endfor %}
        <div class="border-bottom row" style="margin-bottom:16px;padding-bottom:17px;">
          <div class="col-9">
            <h4 style="color:rgb(120,120,120); margin-bottom:4px;">
              To view the status of your applications.</h4>
          </div>
        <div class="col-2">
          <a href="/{{name}}/{{mail}}/application"
            type="button" class="btn btn-secondary float-right align-lg">Status</a>
        </div>
        </div>  
      </p>
          
      <div class="text-center">
        <a class="btn btn-secondary btn-sm" 
          href="mailto:marimare@inbox.ru?subject=Question%20about%20Job%20Openings&body=My%20name%3A%20%3CYour%20name%20here%2Cpelase%3E%0D%0AMy%20question%3A%3CEnter%20Your%20question%20here%2C%20please%3E">Contact Us</a>
    </div>
    {% include "footer.html" %}
  </body>
  
</html>
